.bg{
    background-color: #75BF7A;
    ;
}
.pour{
    font-family: Gilroy;
font-size: 46.39px;
font-weight: 800;
line-height: 50.35px;
text-align: left;
color: black;

}
span{
    font-family: Gilroy;
font-size: 46.39px;
font-weight: 800;
line-height: 50.35px;
text-align: left;
color: #75BF7A;

}
.img{
    width: 60.82px;
height: 60.82px;
top: 1462px;
left: 419px;
gap: 0px;
border: 0.54px 0px 0px 0px;
opacity: 0px;

}
h3{font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
font-weight: 800;
line-height: 50.35px;
text-align: right;

}
p{
    color: #9E9DA2;
}
.rights{
    color: #75BF7A;
    font-size: 20px;
}
.heading{
    color: black;
    font-size: 44px;
    font-weight: bolder;
}
h5{
    font-size: 30px;
}
p{
    font-size: 20px;
}
#footer-p{
    mar
}